/*.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}*/
/*
.card {
  margin: 50px;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  color: white;
}*/
.card {
  margin: 50px;
  width: 300px;
  height: 400px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  color: #212121;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

.rank {
  margin: 0;
}

.name {
  margin: 10px;
}

.symbol {
  margin: 10px;
}
