.loading_main {
  display: flex;
  justify-content: center;
  background-color: #212121;
  margin: 0;
  height: 100vh;
}

.main_box {
  margin: 0;
  background-color: #e8e8e8;
  flex-flow: row wrap;
  justify-content: space-around;
  display: flex;
}
